<div class="feet">

<p><a href=" mailto: ConnerRHogan@gmail.com">Email</a></p>
<% function click(){ %>
    <% let content = "https://www.linkedin.com/in/conner-hogan-40b39b37" %>
    <% navigator.clipboard.writeText(content) %>
<% }%>

<p>Designed by Conner Hogan</p>

<p onclick="click()"><a href="https://www.linkedin.com/in/conner-hogan-40b39b37">linkedIn</a><img class="clip" src='./clipboard.png' alt="clipboard image :)" ></img></p>
</div>
