<!DOCTYPE html>

<html lang="en" dir="ltr">
<head> <%- include ('./partials/head.ejs') %> </head>

<body class="home">
    <nav> <%- include('./partials/nav.ejs') %> </nav>


    <div>“Brain fog” isn’t a medical condition. It’s a term used for certain
        symptoms that can affect your ability to think. You may feel confused
        or disorganized or find it hard to focus or put your thoughts into words.<br>

        I created this app to help you keep track of your personal ways to fight
        against brain fog.
    <p><a href="https://www.medicalnewstoday.com/articles/anxiety-and-brain-fog">Source</a></p></div>



<footer class="foot"> <%- include('./partials/footer.ejs') %> </footer>
</body>
</html>
