<header> <%- include('../partials/head.ejs') %> </header>

<body class="loginBody">

<nav>  <%- include('../partials/nav.ejs') %>  </nav>


<form class="loginForm" action="/sessions" method="POST">
    <h2>Login Page</h2>

    <div>
    <label>Username:</label>
    <input type="text" name="username" />
    </div>

    <div>
    <label>Password:</label>
    <input type="password" name="password" />
    </div>


    <input class="sub" type="submit" value="Login" /><br><br>
</form>

<form  action="/sessions" method="POST">
    <input class="hide" type="text" name="username" value="Recruiter"/>
    <input class="hide" type="text" name="password" value="password"/>
    <input class="sub2" type="submit" value="Recruiter Login" />
</form>


<%- include('../partials/footer.ejs') %>
</body>
