<header> <%- include('../partials/head.ejs') %> </header>

<body class="loginBody">

<nav>  <%- include('../partials/nav.ejs') %>  </nav>

    <form class="loginForm" action="/sessions" method="POST">
        <h4>Login Page</h4>

        <label>
            <span>Username:</span>
            <input type="text" name="username" />
        </label><br><br>

        <label>
            <span>Password:</span>
            <input type="password" name="password" />
        </label>
        <br>
        <br>
        <input class="loginSubmit" type="submit" value="Login" />
    </form>


<%- include('../partials/footer.ejs') %>
</body>
