<header>  <%- include('../partials/head.ejs') %> </header>

<body class="userBody">
<nav>  <%- include('../partials/nav.ejs') %> </nav>
    <form action="/users" method="POST" class="userForm">
    <h2>New User Page</h2>

    <div>
    <label>Username:</label>
    <input type="text" name="username" />
    </div>

    <div>
    <label>Password:</label>
    <input type="password" name="password" />
    </div>

    <input class="sub" type="submit" value="Create User" /> <br><br>
    </form>

    <form   action="/sessions" method="POST">
        <input class="hide" type="text" name="username" value="Recruiter"/>
        <input class="hide" type="text" name="password" value="password"/>
        <input class="sub2" type="submit" value="Recruiter Login" />
    </form>

<footer> <%- include('../partials/footer.ejs') %> </footer>
</body>
